In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(index=pd.date_range("2014-09-01", "2015-9-30"))

In [3]:
df

Empty DataFrame
Columns: []
Index: [2014-09-01 00:00:00, 2014-09-02 00:00:00, 2014-09-03 00:00:00, 2014-09-04 00:00:00, 2014-09-05 00:00:00, 2014-09-06 00:00:00, 2014-09-07 00:00:00, 2014-09-08 00:00:00, 2014-09-09 00:00:00, 2014-09-10 00:00:00, 2014-09-11 00:00:00, 2014-09-12 00:00:00, 2014-09-13 00:00:00, 2014-09-14 00:00:00, 2014-09-15 00:00:00, 2014-09-16 00:00:00, 2014-09-17 00:00:00, 2014-09-18 00:00:00, 2014-09-19 00:00:00, 2014-09-20 00:00:00, 2014-09-21 00:00:00, 2014-09-22 00:00:00, 2014-09-23 00:00:00, 2014-09-24 00:00:00, 2014-09-25 00:00:00, 2014-09-26 00:00:00, 2014-09-27 00:00:00, 2014-09-28 00:00:00, 2014-09-29 00:00:00, 2014-09-30 00:00:00, 2014-10-01 00:00:00, 2014-10-02 00:00:00, 2014-10-03 00:00:00, 2014-10-04 00:00:00, 2014-10-05 00:00:00, 2014-10-06 00:00:00, 2014-10-07 00:00:00, 2014-10-08 00:00:00, 2014-10-09 00:00:00, 2014-10-10 00:00:00, 2014-10-11 00:00:00, 2014-10-12 00:00:00, 2014-10-13 00:00:00, 2014-10-14 00:00:00, 2014-10-15 00:00:00, 2014-10-16 00:00:00, 2014-10-17 00:00:00, 2014-10-18 00:00:00, 2014-10-19 00:00:00, 2014-10-20 00:00:00, 2014-10-21 00:00:00, 2014-10-22 00:00:00, 2014-10-23 00:00:00, 2014-10-24 00:00:00, 2014-10-25 00:00:00, 2014-10-26 00:00:00, 2014-10-27 00:00:00, 2014-10-28 00:00:00, 2014-10-29 00:00:00, 2014-10-30 00:00:00, 2014-10-31 00:00:00, 2014-11-01 00:00:00, 2014-11-02 00:00:00, 2014-11-03 00:00:00, 2014-11-04 00:00:00, 2014-11-05 00:00:00, 2014-11-06 00:00:00, 2014-11-07 00:00:00, 2014-11-08 00:00:00, 2014-11-09 00:00:00, 2014-11-10 00:00:00, 2014-11-11 00:00:00, 2014-11-12 00:00:00, 2014-11-13 00:00:00, 2014-11-14 00:00:00, 2014-11-15 00:00:00, 2014-11-16 00:00:00, 2014-11-17 00:00:00, 2014-11-18 00:00:00, 2014-11-19 00:00:00, 2014-11-20 00:00:00, 2014-11-21 00:00:00, 2014-11-22 00:00:00, 2014-11-23 00:00:00, 2014-11-24 00:00:00, 2014-11-25 00:00:00, 2014-11-26 00:00:00, 2014-11-27 00:00:00, 2014-11-28 00:00:00, 2014-11-29 00:00:00, 2014-11-30 00:00:00, 2014-12-01 00:00:00, 2014-12-02 00:00:00, 2014-12-03 00:00:00, 2014-12-04 00:00:00, 2014-12-05 00:00:00, 2014-12-06 00:00:00, 2014-12-07 00:00:00, 2014-12-08 00:00:00, 2014-12-09 00:00:00, ...]

[395 rows x 0 columns]

In [4]:
monthly_means = [18, 12, 13, 18, 17, 13, 12, 14, 13, 18, 19, 24, 21]

In [5]:
months = df.index.to_period('M')
month_to_mean_map = dict(zip(months.unique(), monthly_means))
month_to_mean_map

{Period('2014-09', 'M'): 18,
 Period('2014-10', 'M'): 12,
 Period('2014-11', 'M'): 13,
 Period('2014-12', 'M'): 18,
 Period('2015-01', 'M'): 17,
 Period('2015-02', 'M'): 13,
 Period('2015-03', 'M'): 12,
 Period('2015-04', 'M'): 14,
 Period('2015-05', 'M'): 13,
 Period('2015-06', 'M'): 18,
 Period('2015-07', 'M'): 19,
 Period('2015-08', 'M'): 24,
 Period('2015-09', 'M'): 21}

In [6]:
df["val"] = df.index.map(lambda x : np.random.normal(loc=month_to_mean_map[x.to_period('M')], scale=2.5))

In [7]:
df

                  val
2014-09-01  16.444579
2014-09-02  20.446867
2014-09-03  18.290563
2014-09-04  20.093450
2014-09-05  17.701020
...               ...
2015-09-26  18.496113
2015-09-27  19.982369
2015-09-28  19.288748
2015-09-29  18.948669
2015-09-30  22.966889

[395 rows x 1 columns]

In [8]:
df.to_csv("data.csv")